@import 'global';
@import 'variables';

.page1-body{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: $black;
}

header{
    width: 100%;
    background-color: $purpleHaze;
    padding: 1rem 3rem;
    display: flex;
    margin-bottom: 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 2rem;
    margin: 1rem;
    margin-bottom: 5px;
    font-weight: 600;
    color: $purple;
}

.credits{
    color: $purple;
    margin: 1rem;
    margin-top: 5px;
    font-size: .8rem;
}


.search-field{
    font-size: 1rem;
    padding: .3rem;
    margin: .5rem;
    border: 1px solid transparent;
    border-radius: .3rem;
    color: black;
}

.search-btn{
    cursor: pointer;
    font-size: 1rem;
    padding: .3rem .5rem;
    margin: .5rem;
    border: 1px solid transparent;
    border-radius: .3rem;
}


.loading{
    width: 30px;
    height: 30px;
    margin: 1rem;
    border: 5px solid white;
    border-radius: 50%;
    border-top: 5px solid red;
    background-color: transparent;
    animation: 1s rotation linear infinite;
    // display: none;
}

@keyframes rotation{
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.page1-container{
    width: 100%;
    background-color: $black;
    overflow-x: hidden;
}

.show-holding-container,
.anime-holding-container{
    width: 98%;
    margin: 1rem;
    padding: 1rem;
    padding-left: 0;
    position: relative;
}

.show-holding-container::before{
    position: absolute;
    content: 'popular shows';
    top: -10px;
    left: 50px;
    color: white;
    text-align: center;
    font-size: 2rem;
}

.anime-holding-container::before{
    position: absolute;
    content: 'popular anime';
    top: -10px;
    left: 50px;
    color: white;
    font-size: 2rem;
}

.popular-show-container,
.popular-anime-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;
    align-items: center;
    padding: 1rem;
    padding-left: 0;
    margin: 1rem; 
    margin-left: 0;
    overflow: scroll hidden;

    // padding for last flex item:
    &::after{
        content: '';
        padding: 1rem;
    }

    &::-webkit-scrollbar{
        display: none;
    }
}

.search-results-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: nowrap;
    padding: 1rem;
    margin: 1rem;
}


.show-container{
    width: 200px;
    height: auto;
    margin: 2rem;
    border-radius: 10px;
    background-color: $darkBlue;
    transform: scale(.97);
    transition: transform 300ms ease;

    &:hover{
        transform: scale(1);
    }

    &:hover .show-title{
        color: plum;
    }

}

.show-contents{
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.show-title{
    width: 100%;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: $purpleHaze;
    transition: color 200ms ease;
}

.show-rating{
    color: $purpleHaze;
    font-size: 1rem;
}

.show-img{
    border-radius: 10px 10px 0px 0px;
    width: 200px;
    height: 300px;
    object-fit: cover;
}


//  page 2 styles:
.page2-container{
    width: 100%;
    padding: 1rem;
    background-color: $black;
}

.header2{
    margin-bottom: 1rem;
}

.specific-show-name{
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

// when user click particular show:
.overview{
    width: 100%;
    height: 100%;
    background-color: $black;
}

.overview-image{
    width: 200px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    margin: 1rem;
    margin-top: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overview-summary{
    color: rgba(255, 255, 255, 0.829);
    margin: 1rem;
    margin-top: 2rem;
}

// extra details container:
.show-details-container{
    margin: 1rem;
    margin-top: 2rem;
    background-color: $darkBlue;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.show-details{
    width: 100%;
    height: 100%;
    strong{
        color: $purpleHaze;
    }
    a{
        color: gold;
        overflow-x: hidden;
    }
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 0.89);
}

@import 'mediaquery';
